@page "/"
@using ShopOnline.Model.DTO;
@inherits ProductsBase

@if (Products == null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>
    var productsCount = Products.Count();
    @if (productsCount > 0)
    {
        const int productsPerRowCosnst = 4;
        var productsPerRowList = new List<ProductDTO>();
        @for (int i = 0; i < productsPerRowCosnst; i++)
        {
            var productsPerRow = Products.Skip(i * productsPerRowCosnst).Take(productsPerRowCosnst).ToList();
            <div class="row mt-3">
                <div>
                    @foreach (var item in productsPerRow)
                    {
                        <div class="col md-3">
                            <a href=#>
                                <div class="card">
                                    <img class="img-thumbnail" src="@item.ImageURL">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">
                                            @item.Name
                                        </h5>
                                        <p class="card-text">@item.Price.ToString()</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                      
                    }
                </div>
            </div>
        }
    }
}